.cu-slider-sw {
    position: relative;
    height: 650px!important;
}
.widgetTagControl .swiper {
    width: 100%;
    height: 100%;
    background-color: #515151!important;
}
.widgetTagControl .swiper-slide {
    /*text-align: center;*/
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.widgetTagControl .swiper-slide-active {
    width:80%!important;
}
.widgetTagControl .video-side-cu {
    width: 65%;
    background-color: #515151!important;
}
.widgetTagControl .video-side-cu video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
}
.widgetTagControl .text-side-cu {
    padding: 13% 4%;
    width: 35%;
    background-color: #515151;
    color: #fff!important;
}
.widgetTagControl .slider-header-cu {}
.widgetTagControl .swiper-button-next {
    right: 40%!important;
    color: #fff;
}
.widgetTagControl .swiper-button-prev {
    left: 55%!important;
    color: #fff;
}
.widgetTagControl .swiper-button-next, .widgetTagControl .swiper-button-prev {
    top: 85%!important;
}
.widgetTagControl .swiper-button-next:hover, .widgetTagControl .swiper-button-prev:hover {
    color: #C99D66;
}
.widgetTagControl .play-icon-cu {
    height: 85px !important;
    position: absolute;
    left: 1px;
    bottom: 1px;
    margin: 60px 80px;
    z-index: 999;
}
.widgetTagControl .main-slider-img-cu{
    width: 100% !important;
    object-fit: cover;
}
.widgetTagControl .swiper-button-prev,
.widgetTagControl .swiper-button-next {
    background-image: none;
    height: 40px;
    width: 40px;
    top: 29px;
    background-color: transparent;
    transition: 0.6s all;
    cursor: pointer;
}

.widgetTagControl .swiper-button-next::after, .widgetTagControl .swiper-button-prev::after {
    font-size: 24px !important;
}

@media only screen and (max-width: 600px) {
    .widgetTagControl .text-side-cu {
        padding: 13% 4%;
        width: auto!important;
        height: 50%;
    }
    .widgetTagControl .video-side-cu {
        width: 100%!important;
        background-color: #515151!important;
        height: 50%;
    }
    .widgetTagControl .swiper-slide {
        display: block;
    }
    .widgetTagControl .swiper-slide-active {
        width:100%!important;
    }
    .widgetTagControl .swiper-button-next {
        right: 42%!important;
        color: #fff;
    }
    .widgetTagControl .swiper-button-prev {
        left: 42%!important;
        color: #fff;
    }
    .widgetTagControl .swiper-button-next, .widgetTagControl .swiper-button-prev {
        top: 93%!important;
    }
    .widgetTagControl .play-icon-cu {
        position: absolute;
        left: -54px;
        bottom: 45%;
        z-index: 999;
        height: 60px;
    }
    .widgetTagControl .main-img-div-cu {
        height: 50%;

    }
    .widgetTagControl .main-slider-img-cu{
        height: 100% !important;
    }
}
